{% load static%}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="hero-text">
                            <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                            <h2>Villa 9721 Glen Creek</h2>
                            <div class="room-price">
                                <span>Start Form:</span>
                                <p>$3.000.000</p>
                            </div>
                            <ul class="room-features">
                                <li>
                                    <i class="fa fa-arrows"></i>
                                    <p>5201 sqft</p>
                                </li>
                                <li>
                                    <i class="fa fa-bed"></i>
                                    <p>8 Bed Room</p>
                                </li>
                                <li>
                                    <i class="fa fa-bath"></i>
                                    <p>7 Baths Bed</p>
                                </li>
                                <li>
                                    <i class="fa fa-car"></i>
                                    <p>1 Garage</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero/hero-2.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="hero-text">
                            <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                            <h2>Villa 9721 Glen Creek</h2>
                            <div class="room-price">
                                <span>Start Form:</span>
                                <p>$3.000.000</p>
                            </div>
                            <ul class="room-features">
                                <li>
                                    <i class="fa fa-arrows"></i>
                                    <p>5201 sqft</p>
                                </li>
                                <li>
                                    <i class="fa fa-bed"></i>
                                    <p>8 Bed Room</p>
                                </li>
                                <li>
                                    <i class="fa fa-bath"></i>
                                    <p>7 Baths Bed</p>
                                </li>
                                <li>
                                    <i class="fa fa-car"></i>
                                    <p>1 Garage</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero/hero-3.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="hero-text">
                            <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                            <h2>Villa 9721 Glen Creek</h2>
                            <div class="room-price">
                                <span>Start Form:</span>
                                <p>$3.000.000</p>
                            </div>
                            <ul class="room-features">
                                <li>
                                    <i class="fa fa-arrows"></i>
                                    <p>5201 sqft</p>
                                </li>
                                <li>
                                    <i class="fa fa-bed"></i>
                                    <p>8 Bed Room</p>
                                </li>
                                <li>
                                    <i class="fa fa-bath"></i>
                                    <p>7 Baths Bed</p>
                                </li>
                                <li>
                                    <i class="fa fa-car"></i>
                                    <p>1 Garage</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnail-pic">
        <div class="thumbs owl-carousel">
            <div class="item">
                <img src="{% static 'img/hero/dot-1.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/hero/dot-2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img src="{% static 'img/hero/dot-3.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->