{% load static %}

<!DOCTYPE html>
<html lang="english">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Estate | MiCasa</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
        <!-- Offcanvas Menu Section Begin -->
        <div class="offcanvas-menu-overlay"></div>
        <div class="canvas-open">
            <i class="icon_menu"></i>
        </div>
        <div class="offcanvas-menu-wrapper">
            <div class="canvas-close">
                <i class="icon_close"></i>
            </div>
            <div class="language-bar">
                <div class="language-option">
                    <img src="{% static 'img/flag.png'%}" alt="">
                    <span>English</span>
                    <i class="fa fa-angle-down"></i>
                    <div class="flag-dropdown">
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Germany</a></li>
                            <li><a href="#">China</a></li>
                        </ul>
                    </div>
                </div>
                <div class="property-btn">
                    <a href="{% url 'admin:index'%}" class="property-sub">Submit Property</a>
                </div>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'listings' %}">Property</a></li>
                </ul>
            </nav>
            <div class="nav-logo-right">
                <ul>
                    <li>
                        <i class="icon_phone"></i>
                        <div class="info-text">
                            <span>Phone:</span>
                            <p>(+233) 209 0999 42</p>
                        </div>
                    </li>
                    <li>
                        <i class="icon_map"></i>
                        <div class="info-text">
                            <span>Address:</span>
                            <p>Amasaman, <span>Accra-Ghana</span></p>
                        </div>
                    </li>
                    <li>
                        <i class="icon_mail"></i>
                        <div class="info-text">
                            <span>Email:</span>
                            <p>elvis@lartey.dev</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Offcanvas Menu Section End -->
    
        <!-- Header Section Begin -->
        <header class="header-section">
            <div class="top-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <nav class="main-menu">
                                <ul>
                                    <li class="active"><a href="{% url 'index'%}">Home</a></li>
                                    <li><a href="{% url 'listings'%}">Property</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-5">
                            <div class="top-right">
                                <div class="language-option">
                                    <img src="{% static 'img/flag.png'%}" alt="">
                                    <span>English</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Germany</a></li>
                                            <li><a href="#">China</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="{% url 'admin:index'%}" class="property-sub">Submit Property</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-logo">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="{% url 'index'%}"><img src="{% static 'img/logo.png'%}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="nav-logo-right">
                                <ul>
                                    <li>
                                        <i class="icon_phone"></i>
                                        <div class="info-text">
                                            <span>Phone:</span>
                                            <p>(+233) 209 0999 42</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="icon_map"></i>
                                        <div class="info-text">
                                            <span>Address:</span>
                                            <p>Amasaman, <span>Accra-Ghana</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="icon_mail"></i>
                                        <div class="info-text">
                                            <span>Email:</span>
                                            <p>elvis@lartey.dev</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

    {% block content %} {%endblock%}

 <!-- Partner Carousel Section Begin -->
 <div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="{% static 'img/partner/partner-1.png'%}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="{% static 'img/partner/partner-2.png' %}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="{% static 'img/partner/partner-3.png'%}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="{% static 'img/partner/partner-4.png'%}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="{% static 'img/partner/partner-5.png'%}" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Partner Carousel Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section set-bg" data-setbg="{% static 'img/footer-bg.jpg'%}">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo">
                        <div class="logo">
                            <a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                        </div>
                        <p>Subscribe our newsletter gor get notification about new updates.</p>
                        <form action="#" class="newslatter-form">
                            <input type="text" placeholder="Enter your email...">
                            <button type="submit"><i class="fa fa-location-arrow"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h4>Property City</h4>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h4>Social</h4>
                        <ul class="social">
                            <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                            <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                            <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                            <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <ul class="contact-option">
                            <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                            <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                            <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></p>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js '%}"></script>
    <script src="{% static 'js/bootstrap.min.js '%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js '%}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js '%}"></script>
    <script src="{% static 'js/jquery.slicknav.js '%}"></script>
    <script src="{% static 'js/jquery-ui.min.js '%}"></script>
    <script src="{% static 'js/owl.carousel.min.js '%}"></script>
    <script src="{% static 'js/main.js '%}"></script>
</body>

</html>